/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-container {
    margin: 10px;
}

.main-btn {
    padding: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.main-btn:hover {
    background-color: #666;
}

.button-link {
    color: white;
    text-decoration: none;
}

/* برای صفحات دکمه‌ها */
.content {
    max-width: 800px;
    margin: 0 auto;
}

.inner-btns {
    margin-top: 20px;
}

.sub-btn {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.sub-btn:hover {
    background-color: #666;
}

#textContent {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}
